DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=maggie_monthlyreport

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=tls
EMAIL_FROM=
EMAIL_FROM_NAME=MUWASCO MONTHLY REPORT

APP_ENV=production
APP_DEBUG=false
SESSION_IDLE_TIMEOUT=1800